@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
 
body{
    background-image: url('bg_utama.jpg');
    font-family: 'Nunito', sans-serif;
    background-size: cover;
    background-attachment: fixed;

}
 
.kotak{
    width: 400px;
    height: 45px;
    border-radius: 15px;
    border: solid 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
 
.kotak:hover{
    background-color: rgb(203, 231, 246);
}
 
.header{
    text-align: center;
    font-size: 30px;
}

.icon{
    text-align: center;
    font-size: 30px;
}

.icon img{
    width: 25px;
    margin-top: 10px;
}

.header img{
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
 
.footer{
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
}